%centrado {
    text-align: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

%linksFooter{
    text-decoration: none;
    justify-content: space-between;
    padding-left: 1rem;
}