

#footerID{
    background-color: map-get($map: $colores, $key: back-color-footer );
    padding: $padding-footer;
    color: map-get($map: $colores, $key: blanco-primario );
    margin-top: 20px;
    font-size: 15px;
}

.footerData{
    font-size: 15px;
}





