
.logo {
    height: $logo-h;
    width: $logo-w;
    border-radius: $logo-bradius;
}


header{
    background-color: aqua;
}

.container-fluid{
    padding-right: 0px;
}

.row{
    margin-right: 0px;
}















