//index

.card-index {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-items: center;
    border: black 2px solid;
    border-radius: 4px;
    background-color: $blanco-primario;

    &:a{
    text-decoration: none;
    }
    
    &:hover{
        background-color: $amarillo-primario;
    }
}

//nosotros

.gradiente{
background-image: $gradiente;
}




