$colores: (
    blanco-primario: #f2f2f2,
    gris-primario: #545252,
    negro-primario: rgb(4, 4, 3),
    amarillo-primario: rgb(245, 245, 108),
    verde-primario: rgb(117, 117, 52),
    back-color-footer: #262626,

)