
//primarios
$blanco-primario: #F2F2F2;
$gris-primario: #545252;
$azul-primario: rgb(13, 13, 248);
$amarillo-primario: rgb(245, 245, 108);

//titulos main "index" e "inversores"
$borde-titulos: #262626 solid 2px;

//footer
$back-color-footer: #262626;
$text-decor-footer: none;
$border-footer: rgb(245, 245, 108) solid 2px;







