
//primarios
$blanco-primario: #F2F2F2;
$gris-primario: #545252;
$negro-primario: rgb(4, 4, 3);
$amarillo-primario: rgb(245, 245, 108);

//gradientes
$gradiente: linear-gradient(rgb(245, 245, 108), rgb(219, 219, 86), rgb(168, 168, 66));


//footer
$back-color-footer: #262626;
$text-decor-footer: none;
$border-footer: rgb(245, 245, 108) solid 2px;







