
//logo
$logo-h: 60px;
$logo-w: 120px;
$logo-bradius: 5px;

//footer
$footer-h: 5rem;
$font-size-footer: 20px;

//nosotros
.contDesc{
    font-size: 18px;
    justify-content: center;
    text-align: center;
    

}












