@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

ody{
    font-family:'Montserrat', sans-serif;
}

.logo {
    height: 60px;
    width: 120px;
    border-radius: 5px;  
}


.hijoMain{
    display: flex;
    background-image: url(https://img.freepik.com/free-photo/precision-factory-iron-parts-teamwork_1112-1055.jpg?w=740&t=st=1661317482~exp=1661318082~hmac=0a7a9042ce67469e17d5c147172a063a6f0c1cd09c4a228238f48d37880efeab);
    background-size:cover;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    height: 16rem;
    margin-bottom: 2rem;


}

.tituloImagen{
    color: #F2F2F2;
    text-shadow: #060101 1px 1px;
}

.hijoContent{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(156, 175, 47), rgb(184, 187, 17), rgb(221, 244, 9));
}


.contDesc{
    font-size: 18px;
    justify-content: center;
    text-align: center;
    

}



.hijoFooter{
    display: flex;
    grid-area: hijoFooter;
    background-color: #262626;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    height: 6rem;
    margin-top: 2rem;

}

.hijoFooter a{
    text-decoration: none;
}


.infoFooter li{
    font-size: 20px;
    text-align: center;
    color: #F2F2F2;
    background-color: #262626;
    border: rgb(245, 245, 108) solid 2px;
    padding: 6px;
    text-decoration: none;
    animation-name: botonFooter;
    animation-duration: 2s;
    animation-delay: 1s; 
    animation-iteration-count: infinite; 
}

@keyframes botonFooter{
    0% {background-color: #262626;}
    100% {background-color: rgb(13, 13, 248);}
}


.infoFooter li:hover{
    color: rgb(245, 245, 108);
}

