@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

ody{
    font-family:'Montserrat', sans-serif;
}


.logo {
    height: 60px;
    width: 120px;
    border-radius: 5px;     
}

.hijoMain{
    display: flex;
    background-image: url(https://img.freepik.com/free-photo/group-people-working-out-business-plan-office_1303-15768.jpg?w=740&t=st=1661317370~exp=1661317970~hmac=0327cb5bb0995b730f6720fcabbf6327c58ae1d21121da91884bacf2bf50a76f);
    background-repeat: no-repeat;
    background-size: cover;
    height: 16rem;
    margin-bottom: 2rem;
    justify-content: center;


}



.tituloImagen{
    font-size: 2rem;
    text-align: center;
    color: #f2f2f2;
    background-color: #545252;
    text-decoration: none;
}


.tituloImagen:hover{
    background-color: #F2F2F2;
    color: #545252;
}




.hijoFooter{
    display: flex;
    grid-area: hijoFooter;
    background-color: #262626;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
}

.hijoFooter h2{
    flex-direction: column;
    font-size: 20px;
    color: #F2F2F2;
    justify-content: space-around;
}

.hijoFooter h3{
    flex-direction: column;
    font-size: 20px;
    color: #F2F2F2;
}


